body {
    margin: 20px 40px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
    flex: 1;
    background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
    flex: 1;
    background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.blueExample2 {
    width: 80px;
    background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
.emptyExample3 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.redExample3 {
    width: 80px;
    background-color: red;
}

.blueExample3 {
    width: 80px;
    background-color: blue;
}

.emptyExample4 {
    display: flex;
    flex: 1;
}

.redExample4 {
    width: 1191px;
    background-color: red;
}

.blueExample4 {
    width: 80px;
    background-color: blue;
}

.emptyExample5 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.redExample5 {
    width: 40px;
    height: 40px;
    background-color: red;
}

.emptyExample6 {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: red;
    width: 100%;
}

.blueExample6 {
    width: 80px;
    background-color: blue;
}

.emptyExample8 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.yellowExample8 {
    width: 80px;
    background-color: yellow;
}

.emptyExample9 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.yellowExample9 {
    width: 18%;
    background-color: yellow;
}
